*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-navbar{
  background-color: rgb(6, 110, 222);
  padding: 20px 50px 20px 50px;
  width: auto;
}

.logo-menu{
  display: flex;
  justify-content: space-between;
  place-items: center;
  width: 100%;
}
.menu ul{
  display: flex;
  gap:10px;
}
.logo h1{
  color: #fff;
}

.menu ul li {
  color: #fff;
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  color: #fff;
}

/* section  */
#about-section{
  /* display: flex;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 67.200px); */
  
  display: inline-block;
  width: 100%;
  min-height: calc(100vh - 67.200px);
  background-color: rgb(255, 255, 255);
}

article{
  margin: 5%;
}

article p {
  line-height: normal;
  text-align: justify;
}

footer{
  background-color: rgb(6, 110, 222);
  padding: 10px;
  color: #fff;
  /* font-size: 10; */
}

footer .copyright{
  display: flex;
  justify-content: center;
  
}

@media (max-width: 468px) {

  .nav-navbar{
    background-color: rgb(6, 110, 222);
    padding: 20px 50px 20px 50px;
    width: auto;
    height: 27.200px;
    transition: all 0.3s ease;
  }
  .active{
    height: 55.600px;
  }

  .menu{
    display: none;
  }

  .menu-active{
    display: block;
  }
  
  .logo-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-between; */
    place-items: center;
    width: 100%;
  }

  .menu ul{
    display: flex;
    /* justify-content: space-between; */
    gap:10px;
  }
}

/* .kotak-1 {
  opacity: 0;
  height: 2;
}

.kotak:hover .kotak-1 {
  opacity: 1;
  transition: all 0.2s ease-in-out;
} */
.code {
  background-color: black;
}
.code pre code{
  line-height: 2;
  color: rgb(255, 0, 0);
}