*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* *, ::after, ::before{
  box-sizing: border-box;
} */

/* ::-webkit-scrollbar {
  display: none;
} */

/* navbar */
.nav-navbar{
  background-color: rgb(6, 110, 222);
  padding: 20px 50px 20px 50px;
  width: auto;
}

.logo-menu{
  display: flex;
  justify-content: space-between;
  place-items: center;
  width: 100%;
}
.menu ul{
  display: flex;
  gap:10px;
}
.logo h1{
  color: #fff;
}

.menu ul li {
  color: #fff;
  list-style: none;
}

.menu ul li a{
  text-decoration: none;
  color: #fff;
}

/* section  */
#login-section{
  display: flex;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 67.200px);
  /* background-color: #a8a8a8; */
  /* overflow: auto; */
  /* padding: 20px 0 20px 0; */
}

.container{
  display: block;
  margin: 0 5% 0 5%;
  /* height: 100%; */
  /* height: auto; */
}
#login-section .row{
  margin: 0 2% 0 2%;
  box-sizing: border-box;
  /* gap: 1.5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* flex-wrap: wrap; */
  /* height: 100%; */
}

.row .vector {
  /* background-color: aqua; */
  flex: 1;
}
.row .vector img{
  width: 100%;
  height: 100%;
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* object-fit: ; */
}

form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* display: block; */
}

.row .form-login{
  /* background-color: rgb(87, 87, 87); */
  flex: 1 0;
}

label, input[type="text"], input[type="password"]{
  width: 100%;
  display: flex;
  box-sizing: border-box;
  border-radius: 50px;
}

input{
  padding: 0 20px 0 20px;
  border: 1px solid #b7b7b7;
  height: 40px;
}

.input-password  :nth-child(1){
  margin-bottom: 10px; 
  /* height: 100%; */
}
.input-username  :nth-child(1){
  margin-bottom: 10px; 
  /* height: 100%; */
}

.button{
  display: flex;
  justify-content: space-between;
}

.button button {
  padding: 10px;
  border: none;
  background-color: #0647d5;
  color: #fff;
  font-weight: bold;
  border-radius: 50px;
  width: 100px;
}



@media (max-width: 768px) {
  #login-section .row{
    /* margin: 50px; */
    display: block;
  }
}

@media (max-width: 468px) {

  .nav-navbar{
    background-color: rgb(6, 110, 222);
    padding: 20px 50px 20px 50px;
    width: auto;
    height: 27.200px;
    transition: all 0.3s ease;
  }
  .active{
    height: 55.600px;
  }

  .menu{
    display: none;
  }

  .menu-active{
    display: block;
  }
  
  .logo-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* justify-content: space-between; */
    place-items: center;
    width: 100%;
  }

  .menu ul{
    display: flex;
    /* justify-content: space-between; */
    gap:10px;
  }

  .button a{
    font-size: 14px;
    display: flex;
    align-items: center;
  }
}